.maindiv{
  background-color: #F7F7F7;
  
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 100px;
  background: linear-gradient(rgba(100, 92, 170, 0.5),
  rgba(235, 199, 232, 0.5));
}

.books {
  display: flex;
  
}

.book {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  

}



.book img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin: 0px 10px;
  border: 1px solid black;
}

.book button {
  padding: 3px 6px;
  background-color: white;
  cursor: pointer;

}

.btndelete {

  border-radius: 10px;
  background-color: rgb(220, 57, 57) !important;
  margin-bottom: 5px;
  padding: 10px;
  cursor: pointer;
  color: white;
  padding: 10px !important;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.btnupdate {
  border-radius: 10px;
  background-color: rgb(71, 57, 220) !important;
  margin-bottom: 5px;
  padding: 10px;
  cursor: pointer;
  color: white;
  padding: 10px !important;
  border: none;
  border-radius: 10px;
  text-align: center;

  
}

.addbtn {
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  background-color: rgb(29, 196, 87);
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

/* update and add page */

.add {
  height: 100vh;
  width: 100vw;
  display: flex;
  padding: -20px !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  background-size: cover;
}

.div {
  border: 1px solid rgb(75, 24, 168);
  border-radius: 10px;
  padding: 30px;
}

.title {
  font-size: 50px;
}

.form {

  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.form>label {
  margin: 10px 0;
}

.input {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.input:focus {
  outline: none;
}

.button {
  margin-top: 20px;
  cursor: pointer;
  background-color: blueviolet;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.link {
  text-decoration: none;
}

#desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}